@import "../reindeer/styles.css";
@import url(http://fonts.googleapis.com/css?family=Andika);




.v-myfont{
}

.v-app-padding{
}

.v-my-app {
    background: white;
    font-family: 'Andika', serif;
    padding: 10px;
    line-height: 1.5;
}

.v-header {
    width: 100%;
    background-image: url("header.png");
    background-repeat: repeat-x;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #b22222;
}


.v-bold-red {
    font-weight: bold;
    color: #b22222;
}

.v-download-link {
    text-align: center;
    vertical-align: middle;
    color: #00008b;
}

.v-table {
    overflow: hidden;
    text-align: center;
    padding: 0px;
}


.v-tabsheet-tabitemcell {
    width: 25%;
    text-align: center;
}

.v-tabsheet-tabitem .v-caption {
    width: auto !important;
}