@import "../reindeer/styles.css";

/*@import url(http://fonts.googleapis.com/css?family=Andika);*/

.v-app-my {
    background: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2;
}

.v-header {
    width: 100%;
    background-image: url("graph_header_logo.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    font-weight: bold;

}

.v-download-link {
    vertical-align: middle;
    color: #00008b;
}

.v-table {
    overflow: hidden;
}

.v-formresults {
    text-align: center;
    vertical-align: middle;
}

.v-caption-formresults {
    color: red;
}

.v-transition-selection {
    background: #ddd; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dddddd', endColorstr = '#ffffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ccc, #fff); /* for firefox 3.6+ */

}